@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
        font-family: "Segoe UI", AppleSDGothicNeo-Light, Calibri, "Lucida Grand$
        font-size: 1.75em;
        line-height: 140%;
        position: relative;
}

main
{         
    opacity:1;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
